<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ocpap.rest.mapper.AdminMenuMapper" >
  <resultMap id="BaseResultMap" type="com.ocpap.rest.entity.AdminMenu" >
    <id column="au_id" property="auId" jdbcType="INTEGER" />
    <result column="au_name" property="auName" jdbcType="VARCHAR" />
    <result column="au_title" property="auTitle" jdbcType="VARCHAR" />
    <result column="au_level" property="auLevel" jdbcType="INTEGER" />
    <result column="au_clickable" property="auClickable" jdbcType="INTEGER" />
    <result column="au_pid" property="auPid" jdbcType="INTEGER" />
    <result column="au_sort" property="auSort" jdbcType="INTEGER" />
    <result column="au_class" property="auClass" jdbcType="VARCHAR" />
    <result column="au_info" property="auInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    au_id, au_name, au_title, au_level, au_clickable, au_pid, au_sort,au_class,au_info
  </sql>
  
  <select id="getAuthList" resultMap="BaseResultMap">
  	select 
	<include refid="Base_Column_List" />
    from tb_admin_menu
  </select>
  
  <!--分页查询总数  -->
	<select id="CountByQueryVo" parameterType="com.ocpap.rest.entity.QueryVo"
		resultType="Integer">
		select count(1) from tb_admin_menu
		<where>
			<if test="auName != null and auName != ''">
				au_name like "%"#{auName}"%"
			</if>
		</where>
	</select>
	
	<!--结果集 -->
	<select id="selectPageByQueryVo" parameterType="com.ocpap.rest.entity.QueryVo"
		resultMap="BaseResultMap">
		select * from tb_admin_menu
		<where>
			<if test="auName != null and auName != ''">
				au_name like "%"#{auName}"%"
			</if>
		</where>
		limit #{startRow},#{size}
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_admin_menu
    where au_id = #{auId,jdbcType=INTEGER}
  </select>
  
  <select id="getMenuList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_admin_menu
    where au_pid = 0
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_admin_menu
    where au_id = #{auId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.ocpap.rest.entity.AdminMenu" >
    insert into tb_admin_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auId != null" >
        au_id,
      </if>
      <if test="auName != null" >
        au_name,
      </if>
      <if test="auTitle != null" >
        au_title,
      </if>
      <if test="auLevel != null" >
        au_level,
      </if>
      <if test="auClickable != null" >
        au_clickable,
      </if>
      <if test="auPid != null" >
        au_pid,
      </if>
      <if test="auSort != null" >
        au_sort,
      </if>
      <if test="auClass != null" >
        au_class,
      </if>
      <if test="auInfo != null" >
        au_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auId != null" >
        #{auId,jdbcType=INTEGER},
      </if>
      <if test="auName != null" >
        #{auName,jdbcType=VARCHAR},
      </if>
      <if test="auTitle != null" >
        #{auTitle,jdbcType=VARCHAR},
      </if>
      <if test="auLevel != null" >
        #{auLevel,jdbcType=INTEGER},
      </if>
      <if test="auClickable != null" >
        #{auClickable,jdbcType=INTEGER},
      </if>
      <if test="auPid != null" >
        #{auPid,jdbcType=INTEGER},
      </if>
      <if test="auSort != null" >
        #{auSort,jdbcType=INTEGER},
      </if>
      <if test="auClass != null" >
        #{auClass,jdbcType=VARCHAR},
      </if>
      <if test="auInfo != null" >
        #{auInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ocpap.rest.entity.AdminMenu" >
    update tb_admin_menu
    <set >
      <if test="auName != null" >
        au_name = #{auName,jdbcType=VARCHAR},
      </if>
      <if test="auTitle != null" >
        au_title = #{auTitle,jdbcType=VARCHAR},
      </if>
      <if test="auLevel != null" >
        au_level = #{auLevel,jdbcType=INTEGER},
      </if>
      <if test="auClickable != null" >
        au_clickable = #{auClickable,jdbcType=INTEGER},
      </if>
      <if test="auPid != null" >
        au_pid = #{auPid,jdbcType=INTEGER},
      </if>
      <if test="auSort != null" >
        au_sort = #{auSort,jdbcType=INTEGER},
      </if>
      <if test="auClass != null" >
        au_class = #{auClass,jdbcType=VARCHAR},
      </if>
      <if test="auInfo != null" >
        au_info = #{auInfo,jdbcType=INTEGER},
      </if>
    </set>
    where au_id = #{auId,jdbcType=INTEGER}
  </update>
</mapper>